
<footer class="footer">
  <div class= "container">
  <small>
   <a href="">Nice Blog by</a>
   <a href="https://github.com/deven9229"> Deven Gurung</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
  </nav>
  </div>
</footer>
